
keyboard/.vs/keyboard/v16/.suo
*.pdb
*.sln
*.log
*.tlog
*.obj
*.idb
*.ilk
keyboard/keyboard/keyboard.vcxproj
keyboard/keyboard/keyboard.vcxproj.filters
keyboard/keyboard/keyboard.vcxproj.user
keyboard/Debug/keyboard.exe
keyboard/.vs/keyboard/v16/ipch/AutoPCH/200be23d25c31604/MAIN.ipch
keyboard/.vs/keyboard/v16/Browse.VC.db
